<div class="card-trip mb-4">
  <%= cl_image_tag flat.photo.key %>
    <div class="card-trip-infos">
      <div>
        <h2><%= link_to flat.name, flat_path(flat) %></h2>
        <p><%= flat.description %></p>
      </div>
    </div>
</div>
