<h1>Find your favorite bear in a flat near you</h1>
<ul>
  <% @flats.each do |flat|%>
  <li><%= flat.name %> <%= flat.address %> Bear: <%= flat.bear.species %> <%= flat.bear.name %></li>
  <% end %>
</ul>