 <div class="card" style="width: 18rem;">
  <%= cl_image_tag @bear.photo.key, class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= @bear.name %></h5>
    <h3><%= @bear.name %></h3>
    <p class="card-text"><%= @bear.description %></p>
  </div>
</div>
