<div class="footer" style="padding-top: 15px">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Disclaimer: No bears have been harmed in the development of this website. We did lose some front-end developers but no one's really heartbroken about it.</p>
  </div>
</div>
