<%= render 'shared/banner' %>
<h2 class="text-center my-4">Bebear of the bear and breakfasts near you!</h2>
<div class="container d-flex justify-content-center">
  <div class="mt-4">
  <%= render 'shared/carousel'%>
  </div>
</div>
  <footer class="fixed-bottom">
    <%= render 'shared/footer' %>
  </footer>
